.order {
  min-width: 584px;
  box-sizing: border-box;
  background-color: var(--feed-primary-bg);
  border-radius: 40px;
  padding: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.date {
  color: var(--dark-gray);
}

.ingredientsList {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.priceWrapper {
  display: flex;
  gap: 8px;
  align-self: center;
}

.done {
  color: var(--success);
}

.cancel {
  color: var(--canceled);
}

.pending {
  color: var(--pending);
}

.countHidden {
  position: relative;
}

.countHidden::before {
  width: 64px;
  height: 64px;
  content: attr(data-count);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 999;
  background: rgba(0, 0, 0, 0.6);
}
