.order {
  min-width: 584px;
  box-sizing: border-box;
  background-color: var(--feed-primary-bg);
  border-radius: 40px;
  padding: 24px;
  display: grid;
  grid-template-areas:
    "number . date"
    "title title title"
    "ingredients . price";
}

.number {
  grid-area: number;
}

.date {
  color: var(--dark-gray);
  grid-area: date;
}

.title {
  grid-area: title;
  margin: 24px 0;
}

.ingredientsList {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  grid-area: ingredients;
}

.wrapperPrice {
  display: flex;
  gap: 8px;
  grid-area: price;
  align-self: center;
  justify-self: end;
}
