.element {
  min-height: 80px;
  background-color: #2f2f37;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.top {
  border-radius: 88px 88px 40px 40px;
  margin-bottom: 16px;
}

.bottom {
  border-radius: 40px 40px 88px 88px;
  margin-top: 16px;
}

.isDrag {
  border: 1px solid #4c4cff;
}
