.constructor {
  width: 100%;
  margin-bottom: 55px;
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.icon {
  width: 35px;
  height: 35px;
}
