.container {
  width: 100vw;
  height: calc(100vh - 132px);
  display: grid;
  place-content: center;
  text-align: center;
}

.container__text-wrapper {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.container__text-title {
  color: var(--dark-gray);
}

.container__text-link {
  color: #4c4cff;
  text-decoration: none;
}
