.modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  width: 720px;
  background-color: #1c1c21;
  border-radius: 40px;
  position: relative;
  z-index: 999;
  box-sizing: border-box;
}

.close {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}
