.ingredient {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 53px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: var(--dark-gray);
}

.name {
  margin-top: 15px;
  margin-bottom: 31px;
}

.text {
  text-align: left;
  padding-left: 40px;
  padding-bottom: 13px;
}
