:root {
  --container-header: 1280px;
  --container-main: 1240px;
  --dark-gray: #8585ad;
  --primary-light: #f2f2f3;
  --feed-primary-bg: #1c1c21;
  --success: #0cc;
  --canceled: #e52b1a;
  --pending: #f2f2f3;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
}

.scrollbarTrackBorder::-webkit-scrollbar-track {
  border-radius: 50px;
}

.success {
  color: var(--success);
}
.canceled {
  color: var(--canceled);
}

.pending {
  color: var(--pending);
}
